@keyframes liftIcon {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(3px, -3px);
        box-shadow: -3px 3px #000;
    }
}
@keyframes lowerIcon {
    from {
        transform: translate(3px, -3px);
        box-shadow: -3px 3px #000;
    }
    to {
        transform: translate(0px, 0px);
        box-shadow: none;
    }
}

.page-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    flex-grow: 0;
    background-color: $secondary;
    border-top: solid;
    border-width: 2px;
    z-index: 5;

    .contact-me {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }

    .text {
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 100%;
        padding-left: 12px;
        align-items: center;

        p {
            color: $primary;
            font-size: 1.25em;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            align-content: center;
        }
    }

    .icons {
        display: flex;
        flex-direction: row;
        width: 200px;
        height: 100%;
        padding-right: 12px;
        padding-left: 0;
        align-items: center;
        list-style: none;

        ul {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            justify-content: space-between;
            align-items: center;
            list-style: none;

        }
        .circle {
            display: flex;
            width: 40px;
            height: 40px;
            padding: 5px;
            margin: 0;
            border-radius: 50%;
            border-style: solid;
            border-width: 1px;
            background-color: $primary;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
        }
        .circle:hover {
            cursor: pointer;
            animation-name: liftIcon;
        }
        .circle:not(:hover) {
            animation-name: lowerIcon;
        }
    }
}