@keyframes lift {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(8px, -8px);
        box-shadow: -8px 8px #000;
    }
}
@keyframes lower {
    from {
        transform: translate(8px, -8px);
        box-shadow: -8px 8px #000;
    }
    to {
        transform: translate(0px, 0px);
        box-shadow: none;
    }
}

.project-row-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 'content blank';
    margin-left: 25px;
}
.project-row-container.flipped {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 'blank content';
    margin-right: 25px;
}
.project-list-item {
    display: grid;
    position: relative;
    width: 400px;
    height: 200px;
    margin: 20px;
    justify-items: center;
    align-items: center;
    border-color: #242424;
    border-style: solid;
    border-radius: 10px;
    background-color: #fff;

    .title {
        display: flex;
        height: 100%;
        width: 100%;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0px;
        color: #fff;
        background-color: $secondary;
    }

    .body {
        justify-content: center;
        text-indent: 50px;
        margin: 10px;
    }

    .btn {
        display: flex;
        width: 150px;
        height: 40px;
        padding-left: 10%;
        padding-right: 10%;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-wrap: nowrap;
    }

    hr {
        width: 100%;
        height: 4px;
        margin: 0;
        border: none;
        background-color: #ffffff;
    }
}
.project-list-item {
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.project-list-item:hover {
    border-color: #242424;
    animation-name: lift;
}
.project-list-item:not(:hover) {
    animation-name: lower;
}
