@mixin vertical-align($position) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
@mixin all-transition($time)
{
	transition: all $time;
	-webkit-transition: all $time;
}

.menu {
    position: fixed;
    width: 200px;
    height: 100%;
    padding-left: 50px;
    z-index: 100;
    -wekit-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
    right: -180px;
    color: #efefef;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(1em);
    @include all-transition(0.3s);
    &:hover, &:focus {
        transform: translate3d(-180px, 0, 0);
        animation-timing-function: 1s ease-in;
    }
    .title {
        top: 50%;
        @include vertical-align(absolute);
        transform: rotate(270deg);
        left: 10px;
        font-size: 15px;
    }
    .nav {
		@include vertical-align(absolute);
        li {
            margin-bottom: 30px;
            list-style-type: none;
            @include all-transition(0.3s);

            &:hover {
                cursor: pointer;
                color: #aaa;
            }
        }
    }
}
.side-bar.closed {
    margin-left: -250px;
}