.top-bar {
    display: grid;
    position: fixed;
    top: 0;
    grid-template-columns: 175px auto 175px;
    gap: 0.5rem;
    width: 100vw;
    height: 160px;
    align-items: center;
    background-color: #242424;
    box-shadow: 5px 3px 3px black;
    z-index: 1;
  
    .contact-me-column {
      display: flex;
      height: 160px;
      flex-direction: column;
  
      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 600;
        color: #efefef;
      }
  
      ul li {
        display: flex;
        padding: 5px;
        position: relative;
        overflow: hidden;
        transition: 0.3s;
  
        .circle {
          display: flex;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          background-color: #efefef;
  
          img {
            display: flex;
            width: 25px;
            height: 25px;
            margin: 0;
            padding: 0;
            filter: drop-shadow(1px 1px 0 white)
              drop-shadow(-1px 1px 0 white)
              drop-shadow(1px -1px 0 white)
              drop-shadow(-1px -1px 0 white);
          }
        }
      }
  
      p {
        font-size: 0.75em;
        margin: 0;
        padding-left: 10px;
      }
    }
  
    .title-container {
        display: flex;
        position: relative;
        width: 100%;
        height: 160px;
        overflow: visible;
        align-items: center;
        justify-content: center;
    
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0;
          transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        }
    
        &:hover:before {
          opacity: 0.5;
        }

        .title {
            display: flex;
            width: 100%;
            .word {
                display: flex;
                align-items: center;
                height: 100%;
                width: 100%;
                margin: auto;
            }
        
            .hover {
                flex: 1;
                display: grid;
                width: 100%;
                height: calc(160px - 5em);
                grid-template-rows: repeat(2, 2fr) / 100%;
                position: relative;
        
                div {
                    position: relative;
                    z-index: 5;
                }
        
                div:nth-child(1):hover ~ h2 {
                    margin-top: 5px;
                }
        
                div:nth-child(2):hover ~ h2 {
                    margin-top: -15px;
                }
            }
        
            h2 {
                position: absolute;
                font-size: 2em;
                margin: auto;
                left: 0;
                right: 0;
                top: 50%;
                margin-top: 0px;
                justify-self: center;
                transform: translateY(-50%);
                transition: margin-top 0.3s cubic-bezier(0.23, 1, 0.32, 1);
                z-index: 0;
            }
        }
    }
}
  