@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.title-style {
    font-size: 3em;
}
.header-style {
    font-size: 2em;
}
.body-style {
    font-size: 1em;
}


$modern-font: (
  family: "Jua",
  fallback: sans-serif,
  optical-sizing: auto,
  weight: 400,
  style: normal
);


@mixin apply-font($font-map) {
    font-family: map-get($font-map, family), map-get($font-map, fallback);
    font-weight: map-get($font-map, weight);
    font-style: map-get($font-map, style);
  
    @if map-has-key($font-map, optical-sizing) {
        font-optical-sizing: map-get($font-map, optical-sizing);
    }
}
@mixin modern {
    @include apply-font($modern-font);
}
.modern {
    @include modern;
    font-size: 12px;
}


.outline-text {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.outline-text-thick {
    text-shadow: 
        -2px -2px 0px black, 
        2px -2px 0px black,  
        -2px 2px 0px black,  
        2px 2px 0px black,
        -2px 0px 0px black,
        2px 0px 0px black,
        0px -2px 0px black,
        0px 2px 0px black;  
}