

.project-list-container {
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
}
.project-row-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "content blank";
    margin-left: 25px;
}
.project-row-container.flipped {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: "blank content";
    margin-right: 25px;
}
.project-list-item {
    display: grid;
    width: 200px;
    height: 150px;
    margin: 20px;
    padding: 10px;
    grid-template-rows: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
}
.project-item-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-height: 50px;
    text-align: center;
    font-size: 1em;
    margin: 0px;
}
.project-item-body {
    justify-content: center;
    font-size: 0.75em;
    margin: 5px;
}
.project-item-btn {
    max-height: 30px;
    max-width: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 12px;
}