@keyframes liftItem {
    0% {top: 0px;}
    15% {top: -1px;}
    30% {top: -3px;}
    45% {top: -4px;}
    50% {top: -5px;}
    55% {top: -4px;}
    70% {top: -3px;}
    85% {top: 1px;}
    100% {top: 0px;}
}

.project-list-container {
    display: grid;
    width: 100%;
    height: 100%;
    column-gap: 15px;
    row-gap: 15px;
}
.project-row-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "content blank";
    margin-left: 25px;
}
.project-row-container.flipped {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "blank content";
    margin-right: 25px;
}
.project-list-item {
    display: grid;
    position: relative;
    width: 300px;
    height: 200px;
    margin: 20px;
    padding: 10px;
    grid-template-rows: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    background-color: #404040;
    box-shadow: 5px 5px 5px black;
}
.project-list-item:hover {
    border-color: #535bf2;
    animation-name: liftItem;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}
.project-item-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    font-size: 1.25em;
    line-height: 75%;
    margin: 0px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.project-item-body {
    justify-content: center;
    margin: 5px;
    font-size: 1em;
}
.project-item-btn {
    display: flex;
    width: 150px;
    height: 40px;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}