:root {
    font-family: '8bit', sans-serif;
    font-weight: 400;
    line-height: 1.5;

    color-scheme: dark;
    color: #efefef;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-content-container {
    display: block;
    position: relative;
    width: 80%;
    height: 100%;
    padding-top: 160px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #242424;
    justify-content: center;
    align-items: center;
}

.background {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}

body {
    margin: 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #efefef;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #efefef;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #efefef;
    }
}