html, body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #efefef;
}

.page-header, .page-footer {
    flex-shrink: 0;
}

.page-body {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: #fff;
    flex-grow: 1;
    overflow-y: auto;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #efefef;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #efefef;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}