.top-bar {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    position: fixed;
    width: 100vw;
    height: 75px;
    background-color: rgb(134, 0, 0);
    z-index: 2;
}
#title {
    display: grid;
    width: 145px;
    height: 75px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 0px;
    column-gap: 0px;
    margin: 0;
    margin-left: 25px;
}
.title-words {
    margin: 0px;
    padding: 0px;
}
#ttl-1 {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: end;
    align-items: end;
}
#ttl-2 {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: end;
}
#ttl-3 {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: end;
    align-items: start;
}