.top-bar {
    display: grid;
    position: fixed;
    top: 0;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 0.5rem;
    width: 100vw;
    height: 80px;
    background-color: #535bf2;
    box-shadow: 5px 3px 3px black;
    z-index: 1;
}

.social-btn-container {
    display: grid;
    height: 80px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.social-btn {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    font-size: 1.5em;
}

#title {
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
.top-bar-title {
    display: grid;
    height: 80px;
    justify-content: center;
    font-size: 2em;
    color: white;
}
.title {
    margin: 0px;
    padding: 0px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-items: center;
}
.nav-btn {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 20px;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}