.background {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}
.main-content-container {
    display: block;
    position: relative;
    width: 80%;
    height: 100%;
    padding-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #242424;
    justify-content: center;
    align-items: center;
}