@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
.title-style {
  font-size: 3em;
}

.header-style {
  font-size: 2em;
}

.body-style {
  font-size: 1em;
}

.modern {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 12px;
}

.outline-text {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.outline-text-thick {
  text-shadow: -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black, 2px 2px 0px black, -2px 0px 0px black, 2px 0px 0px black, 0px -2px 0px black, 0px 2px 0px black;
}

@keyframes lift {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(8px, -8px);
    box-shadow: -8px 8px #000;
  }
}
@keyframes lower {
  from {
    transform: translate(8px, -8px);
    box-shadow: -8px 8px #000;
  }
  to {
    transform: translate(0px, 0px);
    box-shadow: none;
  }
}
.project-row-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "content blank";
  margin-left: 25px;
}

.project-row-container.flipped {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: "blank content";
  margin-right: 25px;
}

.project-list-item {
  display: grid;
  position: relative;
  width: 400px;
  height: 200px;
  margin: 20px;
  justify-items: center;
  align-items: center;
  border-color: #242424;
  border-style: solid;
  border-radius: 10px;
  background-color: #fff;
}
.project-list-item .title {
  display: flex;
  height: 100%;
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px;
  color: #fff;
  background-color: #ec74b3;
}
.project-list-item .body {
  justify-content: center;
  text-indent: 50px;
  margin: 10px;
}
.project-list-item .btn {
  display: flex;
  width: 150px;
  height: 40px;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: nowrap;
}
.project-list-item hr {
  width: 100%;
  height: 4px;
  margin: 0;
  border: none;
  background-color: #ffffff;
}

.project-list-item {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.project-list-item:hover {
  border-color: #242424;
  animation-name: lift;
}

.project-list-item:not(:hover) {
  animation-name: lower;
}

.page-header {
  display: flex;
  position: fixed;
  top: 0;
  gap: 0.5rem;
  width: 100vw;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: #ec74b3;
  box-shadow: 0px 5px 5px black;
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 1;
}
.page-header .title-container {
  display: flex;
  position: relative;
  width: 40%;
  height: 60px;
  overflow: visible;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.page-header .title-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.page-header .title-container:hover:before {
  opacity: 0.5;
}
.page-header .title-container .title {
  display: flex;
  width: 100%;
}
.page-header .title-container .title .word {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
}
.page-header .title-container .title .hover {
  flex: 1;
  display: grid;
  width: 100%;
  height: calc(60px - 0.5em);
  grid-template-rows: repeat(2, 2fr)/100%;
  position: relative;
}
.page-header .title-container .title .hover div {
  position: relative;
  z-index: 5;
}
.page-header .title-container .title .hover div:nth-child(1):hover ~ h2 {
  margin-top: -5px;
}
.page-header .title-container .title .hover div:nth-child(2):hover ~ h2 {
  margin-top: -10px;
}
.page-header .title-container .title h2 {
  position: absolute;
  font-size: 4em;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: 0px;
  justify-self: center;
  transform: translateY(-50%);
  transition: margin-top 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 0;
}

.menu {
  position: fixed;
  width: 200px;
  height: 100%;
  padding-left: 50px;
  z-index: 100;
  -wekit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  right: -180px;
  color: #efefef;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(1em);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.menu:hover, .menu:focus {
  transform: translate3d(-180px, 0, 0);
  animation-timing-function: 1s ease-in;
}
.menu .title {
  top: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transform: rotate(270deg);
  left: 10px;
  font-size: 15px;
}
.menu .nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.menu .nav li {
  margin-bottom: 30px;
  list-style-type: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.menu .nav li:hover {
  cursor: pointer;
  color: #aaa;
}

.side-bar.closed {
  margin-left: -250px;
}

@keyframes liftIcon {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(3px, -3px);
    box-shadow: -3px 3px #000;
  }
}
@keyframes lowerIcon {
  from {
    transform: translate(3px, -3px);
    box-shadow: -3px 3px #000;
  }
  to {
    transform: translate(0px, 0px);
    box-shadow: none;
  }
}
.page-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  flex-grow: 0;
  background-color: #ec74b3;
  border-top: solid;
  border-width: 2px;
  z-index: 5;
}
.page-footer .contact-me {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.page-footer .text {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  padding-left: 12px;
  align-items: center;
}
.page-footer .text p {
  color: #ffffff;
  font-size: 1.25em;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  align-content: center;
}
.page-footer .icons {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 100%;
  padding-right: 12px;
  padding-left: 0;
  align-items: center;
  list-style: none;
}
.page-footer .icons ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.page-footer .icons .circle {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 0;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  background-color: #ffffff;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
.page-footer .icons .circle:hover {
  cursor: pointer;
  animation-name: liftIcon;
}
.page-footer .icons .circle:not(:hover) {
  animation-name: lowerIcon;
}

html, body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #efefef;
}

.page-header, .page-footer {
  flex-shrink: 0;
}

.page-body {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: #fff;
  flex-grow: 1;
  overflow-y: auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #efefef;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #efefef;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*# sourceMappingURL=main.css.map */
