@tailwind base;
@tailwind components;
@tailwind utilities;

.color-primary {
    @apply bg-primary border-primary text-font;
}
.color-secondary {
    @apply bg-secondary border-secondary text-black;
}
.color-accent {
    @apply bg-accent border-accent text-black;
}

.add-shadow {
    @apply shadow-sm shadow-black;
}
.outline-text {
    @apply drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)];
}
.center-items {
    @apply flex justify-center items-center;
}

html {
    @apply color-primary;
}

.space {
    display: flex;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: black;
}